@model BookStore_Web_.Models.Emp_Information


<script src="~/Scripts/jquery-2.2.0.min.js"></script>

<h2>忘記您的密嗎?</h2>

@using (Html.BeginForm("Reset", "Home", FormMethod.Post, new { @class = "form-horizontal myForm", encType = "multipart/form-data" }))
{
    <div class="form-group">
        <label class="control-label">請輸入您的員工帳號以繼續</label>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.EmployeeID, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-7">
            @Html.TextBoxFor(p => p.EmployeeID, new { @class = "form-control forgetNum", placeholder = "請輸入你的員工編號" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Emp_Identity, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-7">
            @Html.TextBoxFor(p => p.Emp_Identity, new { @class = "form-control forgetID", placeholder = "請輸入你的身分證" })
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">請重新輸入密碼</label>
        <div class="col-sm-7">
            @Html.TextBoxFor(p => p.Emp_Password, new { @class = "form-control password", placeholder = "ex. P@ssw0Rd" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">再輸入一次密碼</label>
        <div class="col-sm-7">
            <input type="text" class="form-control password1" placeholder="ex. P@ssw0Rd" />
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @*<input type="submit" class="btn btn-info btnOk" value="確認" disabled="disabled" />*@
            <input type="submit" class="btn btn-info btnOk" id="Emailbutton" value="確認(會發送Email驗證)" disabled="disabled" />
            <a href="~/Home/Login/" class="btn btn-info">返回登入頁面</a>
        </div>
    </div>
}
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>

    $('.password1').on("blur", function () { valid(); });
    function valid() {
        $('.btnOk').prop("disabled", true);
        if ($('.password').val() != $('.password1').val()) {
            alert("密碼不相符");
        }
        else {
            $('.btnOk').prop("disabled", false);
        }
    }
    var id;
    $(document).on('keyup', '#EmployeeID', function () {
        id = this.value;
    })

    $(document).on('click', '#Emailbutton', function (e) {
        e.stopPropagation;
        $.ajax({
            url: "~/Home/Email",
            sync: true,
            data: { id: id },
            success: function (e) {

            },

            error: function (e) {

            }
        })
    })
</script>









